export MY_OPENCLAW_ROOT=<path to the root of this repo>
export OPENCLAW_ROOT=<path to the root of OpenClaw in server>
export GOG_KEYRING_PASSWORD=<gog_keyring_password>
export GOG_ACCOUNT=<google_account>
export SLACK_WEBHOOK_URL="https://hooks.slack.com/services/xxxxx"
